<div class="container-fluid">
    <div id="header">
        <div class="dropdown">
            <i id="bars-dropdown" class="fas fa-bars fa-2x" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"></i>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="home">Home</a>
                <a class="dropdown-item" href="about">About</a>
                <a class="dropdown-item" href="work">My Work</a>
                <a class="dropdown-item" href="contact">Contact</a>
            </div>
        </div>
    </div>
    <div style="display:table;width:100%;height:70%;">
        <div style="display:table-cell;vertical-align:middle;">
            <div style="margin-left:auto;margin-right:auto;">
                <div id="info-container">
                    <img id="bio-pic" src="https://www.fillmurray.com/200/200" />
                    <p id="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget nulla ut tellus mollis
                        dictum. Praesent sollicitudin dui mattis metus pharetra malesuada. Nulla facilisis id sem vitae
                        maximus. Quisque scelerisque urna non mi aliquet suscipit. Nulla sed aliquam nisi. Quisque
                        tempor et tellus mollis auctor. Curabitur vel ligula eget massa lacinia iaculis. Nulla id enim
                        eleifend, aliquet velit vitae, finibus magna. In congue ante non tellus maximus, eu iaculis
                        tortor mattis. Nam tempor ex et neque gravida, et dignissim ex posuere. Nam eget magna eget ante
                        eleifend finibus eget ut odio.<br /><br />

                        Maecenas blandit ex sapien, in lobortis est ultrices at. Nullam eros purus, maximus non molestie
                        vitae, pellentesque nec purus. Nunc viverra porta purus, at faucibus dolor. Nulla pretium
                        imperdiet pharetra. Mauris interdum nibh justo, id laoreet ipsum vulputate ac. Suspendisse et
                        eleifend odio. Phasellus nec leo in ex malesuada facilisis sit amet a tortor. Nullam a magna et
                        lacus vulputate tincidunt sed non orci. Mauris eu ultricies elit. Sed pharetra bibendum leo
                        consequat lobortis. Cras faucibus enim eu enim vulputate tincidunt.<br /><br />

                        Praesent pulvinar enim sed nibh maximus efficitur. Aliquam tincidunt elit ante, et iaculis diam
                        placerat at. Quisque in dui eleifend, placerat nisl non, luctus arcu. Ut libero odio, tristique
                        in consectetur id, gravida ac velit. Mauris a convallis leo. Proin vitae hendrerit elit. Morbi
                        convallis lacinia urna, id pretium dolor tristique vel. Vivamus in nunc a lacus ornare consequat
                        eleifend vel nulla. Duis non velit vitae tortor malesuada efficitur vel ac dui.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>