<div class="container-fluid">
    <div id="header">
        <div class="dropdown">
            <i id="bars-dropdown" class="fas fa-bars fa-2x" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"></i>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="home">Home</a>
                <a class="dropdown-item" href="about">About</a>
                <a class="dropdown-item" href="work">My Work</a>
                <a class="dropdown-item" href="contact">Contact</a>
            </div>
        </div>
    </div>
    <div style="display:table;width:100%;height:70%;">
        <div style="display:table-cell;vertical-align:middle;">
            <div style="margin-left:auto;margin-right:auto;">
                <div class="title">
                    <h1>About</h1>
                </div>
                <div id="info-container">
                    <img id="bio-pic" src="/img/bio-avatar.png" />
                    <p id="bio">
                        I am a web developer and a problem solver. I have been tinkering with HTML and C++ programming since around the year 2000, but ultimately my career went in a different direction. More recently while working as an entreprenuer, I found myself drawn to the technology associated with my day to day operations. I realized that I was a lot more interested in making my website and other web apps I was using than I was in my business at the time. So I enrolled in the full stack web development bootcamp at the University of Denver, with the goal of creating interesting and attractive web apps that solve problems that I can be passionate about. I graduated in February 2019 and I am ready to build and create.
                        <br/>
                        <br/>
                        I am a curious person who enjoys learning and growing personally and professionally. I enjoy being a part of a team that is working on a project where I can be challenged and stretched in new directions. I do my best to stay current on technologies and am constantly reading technology and programming blogs, and doing small coding projects to keep my skills sharp.
                        <br/>
                        <br/>
                        When I am not working, I have a range of hobbies that keep me busy. My biggest passion is practicing and competeing in Brazillian Jiu Jitsu, where I am a purple belt. I really enjoy the outdoors, and every chance I get I am grabbing my dog Lupe for some hiking here in the front range of Denver, Colorado. I am very interested in travel and culture and am always looking to plan the next trip. Otherwise food, music, and movies take up all of my time.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>