<div class="container-fluid">
    <div id="header">
        <div class="dropdown">
            <i id="bars-dropdown" class="fas fa-bars fa-2x" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="home">Home</a>
                <a class="dropdown-item" href="about">About</a>
                <a class="dropdown-item" href="work">My Work</a>
                <a class="dropdown-item" href="contact">Contact</a>
            </div>
        </div>
    </div>
    <div style="display:table;width:100%;height:70%;">
        <div style="display:table-cell;vertical-align:middle;">
            <div style="margin-left:auto;margin-right:auto;">
                Contact
            </div>
        </div>
    </div>
</div>